<div class="content-block ">
    <h2 class="inline-items">Facturación</h2>
    <dx-button type="button" text="Guardar" (onClick)="CreateInvoice()"></dx-button>
</div>
<div class="content-block dx-card padding-1">
    <app-find-client (onFoundClient)="SetClient($event)"></app-find-client>
    <dx-form [formData]="client" [readOnly]="true" [colCount]="4">
        <dxi-item dataField="identification" [label]="{text:'Identificación'}"></dxi-item>
        <dxi-item dataField="name" [label]="{text:'Nombre'}"></dxi-item>
        <dxi-item dataField="email" [label]="{text:'Email'}"></dxi-item>
        <dxi-item dataField="phone" [label]="{text:'Telefono'}"></dxi-item>
    </dx-form>
</div>
<div class="content-block dx-card padding-1">
    <app-find-product (onFoundProduct)="SetProduct($event)"></app-find-product>
    <dx-form [formData]="product" [colCount]="6" validationGroup="groupName">
        <dxi-item dataField="code" [label]="{text:'Código'}" [editorOptions]="{readOnly:true}"></dxi-item>
        <dxi-item dataField="name" [label]="{text:'Nombre'}" [editorOptions]="{readOnly:true}"></dxi-item>
        <dxi-item dataField="price" [label]="{text:'Precio'}" [editorOptions]="{readOnly:true}"></dxi-item>
        <dxi-item dataField="amount" [label]="{text:'En stock'}" [editorOptions]="{readOnly:true}"></dxi-item>
        <dxi-item dataField="amountToBeAdded" [label]="{text:'Cantidad'}">
            <dxi-validation-rule type="required" message="Cantidad es requerida"></dxi-validation-rule>
            <dxi-validation-rule type="custom" message="Cantidad invalida" [validationCallback]="AmountBeNonNegative.bind(this)"></dxi-validation-rule>
            <dxi-validation-rule type="custom" message="Cantidad mayor al stock" [validationCallback]="AmountBeLessThanStock.bind(this)"></dxi-validation-rule>
        </dxi-item>
        <dxi-item
            itemType="button" horizontalAlignment="left" verticalAlignment="bottom"
            [buttonOptions]="submitButtonOptions">
        </dxi-item>
    </dx-form>
</div>
<dx-data-grid class="content-block dx-card" noDataText="Sin productos agregados"
              [dataSource]="details">
    <dxo-editing
        mode="row"
        [allowDeleting]="true"
        [useIcons]="true"
        [texts]="{confirmDeleteMessage:'Esta seguro que quiere eliminar este registro'}"
    ></dxo-editing>
    <dxi-column dataField="productName" caption="Nombre de producto"></dxi-column>
    <dxi-column dataField="price" caption="Precio" [format]="{currency:'COP'}"></dxi-column>
    <dxi-column dataField="amount" caption="Cantidad" format="#.#"></dxi-column>
    <dxi-column dataField="total" dataType="number" [format]="{currency:'COP'}"></dxi-column>
    <dxi-column type="buttons">
        <dxi-button name="delete"></dxi-button>
    </dxi-column>
</dx-data-grid>

